*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container{
    margin: 5px;
}
.filtro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: center;
    gap: 1em;
    
}
.info{
    width: 15%;
    height: 80px;
    padding: 6px;
    text-align: end;
    border-radius: 10px;
}
.numero{
    font-size: 2em;
}
.info-vencido{
    background-color: #f08989;
}
.info-venceagora{
    background-color: #ffbd41;
}
.info-avencer{
    background-color: #a7ff84;
}
.info-total{
    background-color: #69d3fd;
}